<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поставщик трубопроводной арматуры</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <nav>
    <img th:src="@{/images/logo.png}" alt="Логотип компании" class="company-logo">
    <ul>
      <li><a href="contact">Контакты</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">О компании</a></li>
    </ul>
  </nav>
</header>

<section class="hero">
  <h1>Поставщик трубопроводной<br> арматуры и оборудования в Казахстане</h1>


<section class="partners">

  <div class="partners-header">

    <img th:src="@{/images/nashaprod.png}" alt="Наша продукция" class="cta-button">
  </div>

  <div class="orbit-container">
    <img th:src="@{/images/nashipartn.png}" alt="Центральное изображение" class="central-logo">
    <div class="orbit">
      <img th:src="@{/images/ci.png}" alt="Логотип 1" class="orbit-item">
      <img th:src="@{/images/ld.png}" alt="Логотип 2" class="orbit-item">
      <img th:src="@{/images/meerplast.png}" alt="Логотип 3" class="orbit-item">
      <img th:src="@{/images/racional.png}" alt="Логотип 4" class="orbit-item">
      <img th:src="@{/images/sti.png}" alt="Логотип 5" class="orbit-item">
      <img th:src="@{/images/benamo.png}" alt="Логотип 6" class="orbit-item">
      <img th:src="@{/images/aquasfera.png}" alt="Логотип 7" class="orbit-item">
    </div>
  </div>
</section>

<script th:src="@{/sriptmain.js}"></script>

</body>
</html>
